In [3]:
USE ShopDB;
GO

SELECT * FROM Bestellung;

BestellungID,KundeID,ProduktID,Bestelldatum
1001,1,101,2025-06-01
1002,1,102,2025-06-02
1003,2,103,2025-06-03

In [4]:
SELECT * FROM Kunde;

KundeID,Name,Stadt
1,Anna Meier,Zürich
2,Luca Frei,Bern

In [5]:
SELECT Kunde.Name, Bestellung.ProduktID, Bestellung.Bestelldatum
FROM Bestellung
INNER JOIN Kunde
ON Kunde.KundeID = Bestellung.KundeID;

Name,ProduktID,Bestelldatum
Anna Meier,101,2025-06-01
Anna Meier,102,2025-06-02
Luca Frei,103,2025-06-03

In [2]:
INSERT INTO Kunde VALUES (1, 'Anna Meier', 'Zürich');
INSERT INTO Kunde VALUES (2, 'Luca Frei', 'Bern');

INSERT INTO Produkt VALUES (101, 'Laptop', 1200.00);
INSERT INTO Produkt VALUES (102, 'Maus', 25.50);
INSERT INTO Produkt VALUES (103, 'Monitor', 230.00);

INSERT INTO Bestellung VALUES (1001, 1, 101, '2025-06-01');
INSERT INTO Bestellung VALUES (1002, 1, 102, '2025-06-02');
INSERT INTO Bestellung VALUES (1003, 2, 103, '2025-06-03');