# **Datenbank und Tabelle ertsellen**

In [2]:
USE master;
GO

CREATE DATABASE Fahrzeugpark;

In [3]:
USE Fahrzeugpark;
GO

CREATE TABLE Mitarbeiter(
    MitarbeiterID INT IDENTITY(1,1),
    Nachname VARCHAR(30),
    Vorname VARCHAR(30),
    PRIMARY KEY(MitarbeiterID)
);

CREATE TABLE Fahrzeug (
    FahrzeugId INT IDENTITY(1,1),
    Marke VARCHAR(50),
    Typ VARCHAR(50),
    NeuPreis DECIMAL(9,2),
    Jahrgang INT,
    Occasion BIT,
    fk_MitarbeiterID INT,
    PRIMARY KEY(FahrzeugId),
    FOREIGN KEY (fk_MitarbeiterID) REFERENCES Mitarbeiter(MitarbeiterID)
);

# **Daten einfügen**

In [1]:
USE Fahrzeugpark;
GO

INSERT INTO Mitarbeiter(Nachname,Vorname)
VALUES
('Cuche','Didier'),
('Feuz','Beat'),
('Figini','Michela'),
('Gut-Behrami','Lara'),
('Heinzer','Franz'),
('Hess','Erika'),
('Janka','Carlo'),
('Müller','Peter'),
('Nadig','Marie-Theres'),
('Odermatt','Marco'),
('Schneider','Verni'),
('Zurbriggen','Pirmin');

In [2]:
Select * FROM Mitarbeiter;

MitarbeiterID,Nachname,Vorname
1,Cuche,Didier
2,Feuz,Beat
3,Figini,Michela
4,Gut-Behrami,Lara
5,Heinzer,Franz
6,Hess,Erika
7,Janka,Carlo
8,Müller,Peter
9,Nadig,Marie-Theres
10,Odermatt,Marco
11,Schneider,Verni
12,Zurbriggen,Pirmin

In [3]:
USE Fahrzeugpark;
GO

INSERT INTO Fahrzeug(Marke,Typ,NeuPreis,Occasion,Jahrgang)
VALUES
('Ford','Model T',825.00,0,1908),
('Volkswagen','Käfer',5000.00,1,1938),
('Chervrolet','Corvette C1',3500.00,1,1953),
('Mercedes-Benz','300 SL Flügeltürer',29000.00,1,1954),
('Mini','Mini Cooper',497.00,1,1959),
('Jaguar','E-Type',2250.00,1,1961),
('Ferrari','250 GTO',18000.00,0,1962),
('Porsche','911',14500.00,1,1964),
('Ford','Mustang',2368.00,0,1964),
('Lamborghini','Miura',20000.00,0,1966),
('Toyota','Corolla(erste Generation)',1100.00,1,1966),
('Toyota','Prius (-//-)',35000.00,0,1967);