# **Datenbank und Tabelle ertsellen**

In [2]:
USE master;
GO

CREATE DATABASE Fahrzeugpark;

In [3]:
USE Fahrzeugpark;
GO

CREATE TABLE Mitarbeiter(
    MitarbeiterID INT IDENTITY(1,1),
    Nachname VARCHAR(30),
    Vorname VARCHAR(30),
    PRIMARY KEY(MitarbeiterID)
);

CREATE TABLE Fahrzeug (
    FahrzeugId INT IDENTITY(1,1),
    Marke VARCHAR(50),
    Typ VARCHAR(50),
    NeuPreis DECIMAL(9,2),
    Jahrgang INT,
    Occasion BIT,
    fk_MitarbeiterID INT,
    PRIMARY KEY(FahrzeugId),
    FOREIGN KEY (fk_MitarbeiterID) REFERENCES Mitarbeiter(MitarbeiterID)
);

# **Daten einfügen**

In [1]:
USE Fahrzeugpark;
GO

INSERT INTO Mitarbeiter(Nachname,Vorname)
VALUES
('Cuche','Didier'),
('Feuz','Beat'),
('Figini','Michela'),
('Gut-Behrami','Lara'),
('Heinzer','Franz'),
('Hess','Erika'),
('Janka','Carlo'),
('Müller','Peter'),
('Nadig','Marie-Theres'),
('Odermatt','Marco'),
('Schneider','Verni'),
('Zurbriggen','Pirmin');

In [2]:
Select * FROM Mitarbeiter;

MitarbeiterID,Nachname,Vorname
1,Cuche,Didier
2,Feuz,Beat
3,Figini,Michela
4,Gut-Behrami,Lara
5,Heinzer,Franz
6,Hess,Erika
7,Janka,Carlo
8,Müller,Peter
9,Nadig,Marie-Theres
10,Odermatt,Marco
11,Schneider,Verni
12,Zurbriggen,Pirmin

In [3]:
USE Fahrzeugpark;
GO

INSERT INTO Fahrzeug(Marke,Typ,NeuPreis,Occasion,Jahrgang)
VALUES
('Ford','Model T',825.00,0,1908),
('Volkswagen','Käfer',5000.00,1,1938),
('Chervrolet','Corvette C1',3500.00,1,1953),
('Mercedes-Benz','300 SL Flügeltürer',29000.00,1,1954),
('Mini','Mini Cooper',497.00,1,1959),
('Jaguar','E-Type',2250.00,1,1961),
('Ferrari','250 GTO',18000.00,0,1962),
('Porsche','911',14500.00,1,1964),
('Ford','Mustang',2368.00,0,1964),
('Lamborghini','Miura',20000.00,0,1966),
('Toyota','Corolla(erste Generation)',1100.00,1,1966),
('Toyota','Prius (erste Generation)',35000.00,0,1967);

# **Mitarbeiter und Fahrzeuge zuweisen**

In [1]:
USE Fahrzeugpark;
GO

SELECT * FROM Mitarbeiter WHERE Vorname LIKE 'Beat';

MitarbeiterID,Nachname,Vorname
2,Feuz,Beat

In [2]:
UPDATE Fahrzeug SET fk_MitarbeiterID = 2 WHERE Typ = 'Käfer';

In [3]:
SELECT * FROM Fahrzeug WHERE Typ = 'Käfer';

FahrzeugId,Marke,Typ,NeuPreis,Jahrgang,Occasion,fk_MitarbeiterID
2,Volkswagen,Käfer,5000.00,1938,1,2

In [4]:
SELECT * FROM Mitarbeiter WHERE Vorname = 'Didier'

MitarbeiterID,Nachname,Vorname
1,Cuche,Didier

In [5]:
UPDATE Fahrzeug SET fk_MitarbeiterID = 1 WHERE Marke = 'Ford';

In [6]:
SELECT * FROM Fahrzeug WHERE Marke = 'Ford';

FahrzeugId,Marke,Typ,NeuPreis,Jahrgang,Occasion,fk_MitarbeiterID
1,Ford,Model T,825.00,1908,0,1
9,Ford,Mustang,2368.00,1964,0,1

# **Käfer änderen**

In [2]:
USE Fahrzeugpark;
GO

UPDATE Fahrzeug SET fk_MitarbeiterID = NULL WHERE Typ = 'Käfer';
UPDATE Fahrzeug SET fk_MitarbeiterID = 2 WHERE Typ = 'Mini Cooper';

In [3]:
SELECT * FROM Fahrzeug WHERE Typ = 'Käfer';
SELECT * FROM Fahrzeug WHERE Typ = 'Mini Cooper';

FahrzeugId,Marke,Typ,NeuPreis,Jahrgang,Occasion,fk_MitarbeiterID
2,Volkswagen,Käfer,5000.00,1938,1,NULL

FahrzeugId,Marke,Typ,NeuPreis,Jahrgang,Occasion,fk_MitarbeiterID
5,Mini,Mini Cooper,497.00,1959,1,2

# **Entferne Toyota fahrzeuge und hinzufügen von Lamborgini Diablo**

In [4]:
USE Fahrzeugpark;
GO

DELETE FROM Fahrzeug WHERE Marke = 'Toyota';
INSERT INTO Fahrzeug (Marke,Typ,NeuPreis,Occasion,Jahrgang)
VALUES
('Lamborghini','Diablo',285000.00,1,1990);

In [5]:
SELECT * FROM Fahrzeug;

FahrzeugId,Marke,Typ,NeuPreis,Jahrgang,Occasion,fk_MitarbeiterID
1,Ford,Model T,825.00,1908,0,1
2,Volkswagen,Käfer,5000.00,1938,1,NULL
3,Chervrolet,Corvette C1,3500.00,1953,1,NULL
4,Mercedes-Benz,300 SL Flügeltürer,29000.00,1954,1,NULL
5,Mini,Mini Cooper,497.00,1959,1,2
6,Jaguar,E-Type,2250.00,1961,1,NULL
7,Ferrari,250 GTO,18000.00,1962,0,NULL
8,Porsche,911,14500.00,1964,1,NULL
9,Ford,Mustang,2368.00,1964,0,1
10,Lamborghini,Miura,20000.00,1966,0,NULL
13,Lamborghini,Diablo,285000.00,1990,1,NULL

# **Kennzeichen einfügen**

In [1]:
USE Fahrzeugpark;
GO

ALTER TABLE Fahrzeug ADD Kennzeichen VARCHAR(15);

In [2]:
UPDATE Fahrzeug SET Kennzeichen = 'LU 777'  WHERE Typ = 'Model T';

In [3]:
UPDATE Fahrzeug SET Kennzeichen = 'LU 64'  WHERE Typ = 'Mustang';
UPDATE Fahrzeug SET Kennzeichen = 'LU 150'  WHERE Typ = 'Mini Cooper';
UPDATE Fahrzeug SET Kennzeichen = 'NW 100'  WHERE Typ = '911';

In [4]:
SELECT * FROM Fahrzeug;

FahrzeugId,Marke,Typ,NeuPreis,Jahrgang,Occasion,fk_MitarbeiterID,Kennzeichen
1,Ford,Model T,825.00,1908,0,1,LU 777
2,Volkswagen,Käfer,5000.00,1938,1,NULL,NULL
3,Chervrolet,Corvette C1,3500.00,1953,1,NULL,NULL
4,Mercedes-Benz,300 SL Flügeltürer,29000.00,1954,1,NULL,NULL
5,Mini,Mini Cooper,497.00,1959,1,2,LU 150
6,Jaguar,E-Type,2250.00,1961,1,NULL,NULL
7,Ferrari,250 GTO,18000.00,1962,0,NULL,NULL
8,Porsche,911,14500.00,1964,1,NULL,NW 100
9,Ford,Mustang,2368.00,1964,0,1,LU 64
10,Lamborghini,Miura,20000.00,1966,0,NULL,NULL
13,Lamborghini,Diablo,285000.00,1990,1,NULL,NULL