# **Datenbank und Tabelle ertsellen**

In [2]:
USE master;
GO

CREATE DATABASE Fahrzeugpark;

In [3]:
USE Fahrzeugpark;
GO

CREATE TABLE Mitarbeiter(
    MitarbeiterID INT IDENTITY(1,1),
    Nachname VARCHAR(30),
    Vorname VARCHAR(30),
    PRIMARY KEY(MitarbeiterID)
);

CREATE TABLE Fahrzeug (
    FahrzeugId INT IDENTITY(1,1),
    Marke VARCHAR(50),
    Typ VARCHAR(50),
    NeuPreis DECIMAL(9,2),
    Jahrgang INT,
    Occasion BIT,
    fk_MitarbeiterID INT,
    PRIMARY KEY(FahrzeugId),
    FOREIGN KEY (fk_MitarbeiterID) REFERENCES Mitarbeiter(MitarbeiterID)
);