# **Erstellen der Database "Druckerverwaltung"**

In [1]:
USE master;
GO

DROP DATABASE IF EXISTS Druckerverwaltung;
GO

CREATE DATABASE Druckerverwaltung;

# **Tabelle "Statdort" und "Mitarbeiter" erstellen**

In [2]:
USE Druckerverwaltung;
GO

DROP TABLE IF EXISTS Standort;
GO

DROP TABLE IF EXISTS Mitarbeiter;
GO

CREATE TABLE Standort (
    StandortId INT IDENTITY(1,1),
    Bezeichnung VARCHAR(20),
    PRIMARY KEY (StandortId)
)
GO

CREATE TABLE Mitarbeiter (
    MitarbeiterId INT IDENTITY(1,1),
    Vorname VARCHAR(30),
    Nachname VARCHAR(30),     
    TelIntern VARCHAR(10),
    PRIMARY KEY (MitarbeiterId)
)
GO

# **Erstellen von Tabelle "Drucker"**

In [1]:
USE Druckerverwaltung;
GO

DROP TABLE IF EXISTS Drucker;
GO

CREATE TABLE Drucker (
    DruckerId INT IDENTITY(1,1),
    Bezeichnung VARCHAR(20),
    Kaufdatum date,
    Typ varchar(20),
    SerienNr varchar(20),
    fk_StandortId INT,
    fk_MitarbeiterId INT,
    PRIMARY KEY (DruckerId)
)
GO

# **Verändern der Tabelle "Drucker"**

In [2]:
USE Druckerverwaltung;
GO

ALTER TABLE Drucker ADD KaufPreis DECIMAL(10,2);
ALTER TABLE Drucker ADD FOREIGN KEY(fk_StandortId) REFERENCES Standort(StandortId);
ALTER TABLE Drucker ADD FOREIGN KEY(fk_MitarbeiterId) REFERENCES Mitarbeiter(MitarbeiterId);

# **Datenbank und Tabllen für "ComputerShop" erstellen**

In [3]:
USE master;
GO

DROP DATABASE IF EXISTS ComputerShop;
GO

CREATE DATABASE ComputerShop;

In [5]:
USE ComputerShop;
GO

CREATE TABLE Artikel (
    ArtikelId INT IDENTITY(1,1),
    Bezeichnung VARCHAR(20),
    Preis NUMERIC(9,2),
    PRIMARY KEY (ArtikelId)
)
GO

CREATE TABLE Kunde (
    KundeId INT IDENTITY(1,1),
    Nachname VARCHAR(30),
    Vorname VARCHAR(30),
    PRIMARY KEY (KundeId)
)
GO

CREATE TABLE Bestellung (
    BestellungId INT IDENTITY(1,1),
    Datum date,
    KomplettLieferung BIT,
    fk_ArtikelId INT,
    fk_KundeId INT,
    PRIMARY KEY (BestellungId),
    FOREIGN KEY(fk_ArtikelId) REFERENCES Artikel(ArtikelId),
    FOREIGN KEY(fk_KundeId) REFERENCES Kunde(KundeId)
)
GO

# **Erstellen der Tabelle "BestehtAus"**

In [6]:
USE ComputerShop;
GO

ALTER TABLE Bestellung DROP CONSTRAINT fk_ArtikelId;

: Msg 3728, Level 16, State 1, Line 4
fk_ArtikelId ist keine Einschränkung.

: Msg 3727, Level 16, State 0, Line 4
Die Einschränkung konnte nicht gelöscht werden. Siehe vorherige Fehler.